#if hp becomes negative, make it 0 - cannot have negative HP.
<% @game.player1.hp = 0 if (@game.player1.hp < 0) %>
<% @game.player2.hp = 0 if (@game.player2.hp < 0) %>

#display attack and health
<% if @game.current_turn == @game.player1 %>
<%= @game.player1.name%> attacked <%= @game.player2.name %>!
<%= @game.player2.name%> HP: <%= @game.player2.hp %>
<% else %>
<%= @game.player2.name%> attacked <%= @game.player1.name %>!
<%= @game.player1.name%> HP: <%= @game.player1.hp %>
<% end %>

<form action='/switch-turns' method="post">
  <input type="submit" value="OK">
</form>
