<% @game.player1.hp = 0 if (@game.player1.hp < 0) %>
<% @game.player2.hp = 0 if (@game.player2.hp < 0) %>

<h2><%= @game.current_turn.name%> attacked <%= @game.opposite_player.name %>! </h2>
  <% if @game.opposite_player.damage == 0 %>
    <h3><%=@game.current_turn.name %> missed!! </h3>
  <% else %>
    <h3><%= @game.current_turn.name%> dealt <%= @game.opposite_player.damage %> points of damage.</h3>
    <%= @game.opposite_player.name%> HP: <%= @game.opposite_player.hp %>
  <% end%>  

<form action='/switch-turns' method="post">
  <input type="submit" value="OK">
</form>

